RenderingFramework/
SimpleRender/obj/x86/Debug/SimpleRender.csproj.FileListAbsolute.txt
SimpleRender/obj/x86/Debug/SimpleRender.Properties.Resources.resources
StarField/bin/
StarField/obj/x86/Debug/Starfield.csproj.FileListAbsolute.txt
StarField/obj/x86/Debug/StarField.Properties.Resources.resources
SimpleRender/bin/Debug/SimpleRender.vshost.exe.manifest
